body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    padding: 18px;
    display: flex;
}

.outer-header, .section-1-wrapper {
    background-color: #1f2937;
}

.header {
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.left-side-header {
    font-size: 28px;
    font-weight: 800;
    color: #f9faf8;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.outer-header, .section-1-wrapper, .section-2-wrapper, .section-3-wrapper, .section-4-wrapper {
    display: flex;
    justify-content: center;
}

.section-1, .section-2, .section-3, .section-4 {
    width: 1000px;
    height: 450px;
}

.section-1 {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.left-section-1 {
    width: 500px;
    height: 200px;
}

.section-1 img {
    width: 300px;
    height: 200px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 40px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.treatments {
    display: flex;
    gap: 40px;
}

.treatment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.text {
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    color: #6e6e6e;
}

.treatment img {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}
.section-3-wrapper {
    background-color: #e5e7eb;

}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

.section-3-width {
    width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 500;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-4 {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    width: 1000px;
    background-color: #3882f6;
    border-radius: 10px;
}

.call-to-action-title {
    font-size: 22px;
    font-weight: 700;
    color: #f9faf8;
    margin-bottom: 5px;
}

.call-to-action-text {
    color: #e5e7eb;
    font-size: 18px;
}

#call-to-action-button {
    border: 2px solid #f9faf8;
    height: 40px;
    align-self: center;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}

h3 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

p {
    margin: 0;
    margin-bottom: 15px;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    padding: 6px 18px;
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    font-size: 18px;
}