body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header, .body, .footer {
    padding: 18px 200px;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.left-side-header {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.body {
    flex-direction: column;
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}