body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    padding: 18px;
    display: flex;
}

.outer-header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header {
    justify-content: space-between;
    align-items: center;
    width: 840px;
}

.left-side-header {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-1 {
    display: flex;
    background-color: #1f2937;
    height: 450px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.left-section-1 {
    width: 500px;
    height: 200px;
}

.section-1 img {
    width: 300px;
    height: 200px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.title {
    margin: 40px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.treatments {
    display: flex;
    gap: 30px;
}

.treatment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.text {
    margin-bottom: 0px;
}

.treatment img {
    margin-bottom: 20px;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}

h3 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

p {
    margin: 0;
    margin-bottom: 10px;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    padding: 6px 18px;
    border-radius: 8px;
    border-color: #3882f6;
    background-color: #3882f6;
    color: white;
}